.App {
  text-align: center;
  margin: auto 15px;
}
.header {
  margin: 50px auto;
  color: black;
  background: white;
}
.content {
  display:flex;
}
.todo-input{
  flex: 1;
}
.todo-btn{
  width: 100px;
  height: 50px;
}